node_modules
npm-debug.log
package-lock.json

multivents.sublime-project
multivents.sublime-workspace
.vscode

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

multivents.min.js
multivents.min.js.map
multivents.min.js.gz

dist
build

.nyc_output
coverage